<div class="d-flex justify-content-between">
  <h3>Editar Indicator tracking</h3>
  <div>
    <% if can? :index, IndicatorTracking %>
      <%= link_to indicator_indicator_trackings_path(@indicator), class: "btn btn-primary" do %>
        <i class="fas fa-arrow-left"></i> Regresar
      <% end %>
    <% end %>
    <% if can? :read, @indicator_tracking %>
      <%= link_to indicator_indicator_tracking_path(@indicator, @indicator_tracking), class: "btn btn-info" do %>
        <i class="fas fa-eye"></i> Ver
      <% end %>
    <% end %>
  </div>
</div>

<div class="mt-4">
  <%= render "form", indicator_tracking: @indicator_tracking, disabled: false %>
</div>
