.btn-very-sm {
    width: 25px;
    height: 25px;
    padding-top: 2px;
    padding-left: 5px;
}

/* Definir estilos para el árbol de archivos */
.file-tree ul {
    list-style-type: none;
    padding-left: 20px;
}

.file-tree .caret2 {
    cursor: pointer;
    user-select: none;
}

.file-tree .caret2::before {
    content: "\25B6";
    margin-right: 5px;
}

.file-tree .caret2-down::before {
    transform: rotate(90deg);
}

.file-tree .nested {
    display: none;
}

/* Estilos para los elementos de archivos y carpetas */
.file-tree li {
    padding: 5px;
}

/* Estilo para resaltar elementos seleccionados */
.file-tree li:hover {
    background-color: #e0e0e0;
}
.file-tree .nested.active {
    display: block;
}

.vertical-text{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
}

.table-border, .table-border th, .table-border td {
    border: 1px solid black;
}